.app-header {
  height: 64px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  
  position: sticky;
  top: 0;
  z-index: 50;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 2.0625rem;
    padding: 0 2rem; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__username {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
  }
  
  &__logout {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}