@import '@/app/styles/variables';

.auth-navbar {
  width: 100%;
  background-color: #fff;
  min-height: 80px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__content {
    max-width: 1200px;
    width: 100%;
    margin: 0 2.0625rem;
    padding: 0 2rem; 
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    opacity: 0.3;
  }
}